<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Craus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Craus.Properties.Settings>
            <setting name="WINDOW_HEIGHT" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="WINDOW_WIDTH" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="SHORTCUT_CONF_FILE" serializeAs="String">
                <value>conf.ini</value>
            </setting>
        </Craus.Properties.Settings>
    </applicationSettings>
</configuration>